p {
    text-align: center;
    font-size:100px;
}
html {
    background-color: #022933
}
p1 {
    text-align: center;
    font-size:25px;
}
p3 {
    
}
h1 {
    color: white;
}
h6 {
    color: white;
}
center {
    color:white;
}